// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shorten-input, .input-tall {
  height: 38px;
  font-size: 18px;
  font-weight: 300;
  width: 300px;
}

input[type=submit] {
  width: 80px;
  height: 38px;
  font-size: 18px;
}